@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@400&family=Roboto&display=swap');

:root {
    --clr-bg:  #000000;
    --clr-text: #ffd54f;
    --ff-main: 'Mukta Vaani', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  .wrapper {
    width: 100%;
    background-color: var(--clr-bg);
  }

  .landing-page {
    height: 100vh;
    background: url("https://ik.imagekit.io/emapm0xdwkx/jefferson-santos-fCEJGBzAkrU-unsplash__1__4WAp0v8j6Y7q.jpg") no-repeat center;
    background-size: cover;
  }

  .navbar-bg {
      background-color: var(--clr-bg);
      opacity: 0.8;
  }

  .navbar-toggler {
    margin-right: 3rem;
  }

  .nav-item {
    text-align: center;
  }

  .navbar-nav a {
      color: var(--clr-text) !important;
      letter-spacing: 2px;
      font-family: var(--ff-main);
      font-size: 20px;
  }

  .navbar-toggler {
    border: 1px solid var(--clr-text) !important;
  }

  i {
    color: var(--clr-text);
    opacity: 0.8;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(16, calc(100vw / 16));
    grid-template-rows: repeat(9, calc(100vh / 9));
  }

  .hero-header {
    grid-column: 3 / 9;
    grid-row: 5;
    color: var(--clr-text);
    font-family: var(--ff-secondary);
  }

  .section-title {
      color: var(--clr-text);
      font-family: var(--ff-main);
  }
